<div class = 'container mt-5'>
   <div class = 'show_content'> 
        
        <h2>[제목] <%= @post.title %></h2>
        <P><h2>[내용] </h2><%= @post.content %></P>
        <br>
        <hr>
        <h5>댓글달기</h5>
        <form action = '/posts/show/<%= @post.id %>/comments/create' method = "POST">
            <input type = 'text' name = "input_comment">
            <button type="submit" class="btn btn-outline-success">제출</button>
        </form>
        <hr>
        <% @comments.each do |comment| %>
            <p><%= comment.content %> <a href ='/posts/show/<%= @post.id %>/comments/destroy/<%= comment.id %>'
            data-confirm="댓글을 삭제합니다" 
            data-method = "POST"><button type="button" class="btn btn-outline-danger">X</button></a> </p>
        <%end%>
        <hr>
        <a href = '/'><button type="button" class="btn btn-success">목록</button></a>
        <a href = '/posts/destroy/<%= @post.id%>' data-confirm="진짜로 삭제 하시겠어요?" data-method = "POST"><button type="button" class="btn btn-danger">삭제</button></a>
        <a href = '/posts/edit/<%= @post.id%>'><button type="button" class="btn btn-warning">수정</button></a>

    </div>
</div>